@tailwind base;
@tailwind components;
@tailwind utilities;

.full-screen {
  height: 100vh;

  @media (max-width: 768px) {
    height: auto;
  }
}

@keyframes animation-typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animation-typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: animation-typewriter 1s steps(40, end) infinite;
}
